*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fondo {
    background-image: url("../assets/images/w2.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position:bottom;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
  }
.foodmap{
    position: absolute;
    background-color: rgba(250, 244, 227, 0.4);
    top: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}
.title-index{
    font-family: 'Pacifico', cursive;
    font-size: 3em;
}
.p-index{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
