.icon{
    background-color: #e72611;
    font-size: 2em;
    color: #fff;
}
.bg{
    background-color: #e72611;
}
img{
    height: 100%;
    width: 100%;
    
}

.card-body{
    padding: 0;
    background-size:cover;
}
.bg-text{
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    font-weight: 400;
}
.bg-image{
  
  background-repeat: no-repeat;
  background-size:cover;
  background-position:bottom;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}
.image-zoom {
    background-color: rgba(0, 0, 0, 0.2);
    background-size: 30.8em 16.5em;
    transition: 0.2s; 
}