<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>tuPoint</title>
  <link rel="stylesheet" href="../vendors/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/seafood.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col">
        <h3>Procesando solicitud</h3>
        <img src="../assets/images/pizza.gif" alt="">
      </div>
    </div>
  </div>
  <script src="../vendors/js/jquery-3.2.1.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.bundle.min.js"></script>
  <script src="../vendors/js/bootstrap.min.js"></script>
  <script src="../js/seafood.js"></script>
  <script src="../js/data.js"></script>
  <!--<script src="../js/ubicacionprincipal.js"></script>-->
  <!-- mapa ubicación principal-->
  <!--<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC20eDWd_XQyltjQy08uR18L42XM1zDGeU&callback=initMap"
  ></script>-->
</body>
</html>