<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>tuPoint</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../vendors/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/principal.css">
</head>
<body class="bg-light">
  <nav class="input-group p-2 bg-select-button">
    <span class="input-group-addon fa fa-bars bg-muted" aria-hidden="true" id="basic-addon1"></span>
    <input type="text" class="form-control" placeholder="¿Qué estás buscando?" aria-label="Username" aria-describedby="basic-addon1">                      
    <span class="input-group-addon fa fa-search bg-muted" aria-hidden="true"></span>
  </nav>
  <div class="container bg-select-button">
    <div class="row">
      <div class="col">
        <button class="btn select-button"><span class="fa fa-map-marker" aria-hidden="true"></span> Cerca de mí</button>
        <button class="btn select-button">Distrito</button>
        <!--<button class="btn select-button"><span class="fa fa-cutlery" aria-hidden="true"></span> Comida</button>-->
       <select onchange="location = this.value" class="rounded float-right mr-4 p-1 pb-2"name="Comida" id="tipo-comida">
         <option value="comida" selected>Comida</option>
         <option value="../views/seafood.html" id="comida-marina">Comida marina</option>
         <option value="comida-criolla">Comida criolla</option>
         <option value="postres">Postres peruanos</option>
       </select>
      </div>
    </div>
  </div>
  <br>
  <div id="map"></div>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col">
          <div id="ceviche-card" class="card bg-seafood">
              <div class="card-body bg-card text-center text-white bg-text marino"></div>
          </div>
          <div class="card mt-2 bg-criolla">
              <div id="anticucho-card" class="card-body bg-card text-center text-white bg-text criollo"></div>
          </div>
          <div class="card mt-3 bg-dulce">
              <div id="picarones-card" class="card-body bg-card text-center text-white bg-text dulce"></div>
          </div>
      </div>
    </div>
  </div>
  <script src="../vendors/js/jquery-3.2.1.js"></script>
  <script src="../vendors/js/bootstrap.min.js"></script>
  <script src="../js/principal.js"></script>
  <script src="../js/ubicacionprincipal.js"></script>
  <!-- mapa ubicación principal-->
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC20eDWd_XQyltjQy08uR18L42XM1zDGeU&callback=initMap"
  ></script>
</body>
</html>