<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>tuPoint</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../vendors/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/principal.css">
</head>
<body>
  <nav class="input-group p-2 bg-select-button">
    <span class="input-group-addon fa fa-bars bg-warning" aria-hidden="true" id="basic-addon1"></span>
    <input type="text" class="form-control" placeholder="¿Qué estás buscando?" aria-label="Username" aria-describedby="basic-addon1">                      
    <span class="input-group-addon fa fa-search bg-warning" aria-hidden="true"></span>
  </nav>
  <div class="container bg-select-button">
    <div class="row">
      <div class="col">
        <button class="btn select-button " ><span class="fa fa-map-marker" aria-hidden="true"></span> Cercanos a mí</button>
        <button class="btn select-button " >Miraflores</button>
        <br>
        <button class="btn select-button " ><span class="fa fa-cutlery" aria-hidden="true"></span> Comida</button>
      </div>
    </div>
  </div>
  <br>
  <div class="container mx-auto text-center">
    <div class="row">
      <div class="col-xs-3 w-25">
        <img class="w-75 h-75 ml-5 mt-2 mb-2" src="../assets/images/symbol.jpg" alt="">
      </div>
      <div class="col-xs-3 w-50 ml-5">
        <h2>Descubre aquí los restaurantes más cercanos</h2>
      </div>
    </div>
  </div>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col">
          <div class="card mt-2 bg-seafood">
              <div class="card-body bg-card text-center text-white bg-text">
                Comida marina
              </div>
          </div>
          <div class="card mt-3 bg-criolla">
              <div class="card-body bg-card text-center text-white bg-text">
                Comida criolla
              </div>
          </div>
          <div class="card mt-3 bg-dulce">
              <div class="card-body bg-card text-center text-white bg-text">
                Dulces peruanos
              </div>
          </div>
      </div>
    </div>
  </div>
  <script src="../vendors/js/jquery-3.2.1.js"></script>
  <script src="../vendors/js/bootstrap.min.js"></script>
  <script src="../js/principal.js"></script>

</body>
</html>