<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>tuPoint</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../vendors/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/seafood.css">
</head>
<body>
  <div class="container bg">
    <div class="row">
      <div class="col">
          <button id="buttonPrev" href="" class="btn fa fa-angle-left rounded-circle bg icon"></button>          
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col h-100 w-100 text-center">
        <div class="restaurant">
          <h4 class="mt-3">Restaurantes marinos</h4>
          <hr>
        </div>
      </div>
    </div>
  </div>
  <script src="../vendors/js/jquery-3.2.1.js"></script>
  <script src="../vendors/js/bootstrap.min.js"></script>
  <script src="../js/seafood.js"></script>
  <script src="../js/data.js"></script>
  <!--<script src="../js/ubicacionprincipal.js"></script>-->
  <!-- mapa ubicación principal-->
  <!--<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC20eDWd_XQyltjQy08uR18L42XM1zDGeU&callback=initMap"
  ></script>-->
</body>
</html>